.pagging {
	display: flex;
	align-items: center;
	justify-content: center;
	// .pagging__arrow
	&__arrow {
		width: 33px;
		height: 28px;
		cursor: pointer;
		background: url("../img/icons/catalog/pagging-arrow.png") center 0 / 100% no-repeat;
		@media (min-width: $md2+px){
			&:hover {
				background: url("../img/icons/catalog/pagging-arrow-active.png") center 0 / 100% no-repeat;
				@include rotate(-180deg);
			}
		}
		&:last-child{
			@include rotate(-180deg);
			&:hover {
				@include rotate(0deg);
			}
		}
	}
	// .pagging__list
	&__list {
		display: flex;
		margin: 0px 30px;
		li {
		}
	}
	// .pagging__item
	&__item {
		color: #333;
		font-weight: 900;
		font-size: 18px;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		&._active {
			background-color: #fd8424;
			color: #fff;
		}
	}
}
