@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none !important;
}

a:focus,
a:active {
  outline: none !important;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "" !important;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "" !important;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 20px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.moretext {
  overflow: hidden;
}

.moretext__more {
  cursor: pointer;
}

.moretext__more span {
  font-style: normal;
}

.moretext__more span:first-child {
  display: block;
}

.moretext__more span:last-child {
  display: none;
}

.moretext__more.active span {
  font-style: normal;
}

.moretext__more.active span:first-child {
  display: none;
}

.moretext__more.active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper > div {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-autoheight > div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-slider .slick-slide {
  position: relative;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

.gm-style-iw-t {
  opacity: 0;
}

.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important;
}

.baloon button {
  display: none !important;
}

.baloon:after {
  display: none !important;
}

.baloon-style {
  display: none;
}

.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important;
}

.baloon-content.gm-style-iw > .gm-style-iw-d {
  overflow: hidden !important;
  max-width: none !important;
}

.baloon-content.gm-style-iw:after {
  display: none !important;
}

.baloon-close {
  top: 18px !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

/*JS version*/

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 1040;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hiden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup__content {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0rem 1.5rem;
}

.popup__body {
  background-color: #fff;
  border-radius: .6rem;
  width: 100%;
  max-width: 61.5rem;
  padding: 6.1rem 8.8rem;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
  opacity: 0;
}

.popup__close {
  position: absolute;
  right: 2.4rem;
  top: 2.2rem;
  width: 2rem;
  height: 2rem;
  opacity: 0.3;
}

.popup__close:hover {
  opacity: 1;
}

.popup__close:before,
.popup__close:after {
  content: '';
  position: absolute;
  left: 0rem;
  height: .2rem;
  width: 100%;
  background-color: #333;
}

.popup__close:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.popup__close:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popupInfo__title {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 3.3rem;
  text-align: center;
  color: #37373F;
  margin-bottom: 3.1rem;
}

.form-popupInfo {
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: .1rem;
}

.form-popupInfo__field {
  margin-bottom: 1rem;
}

.form-popupInfo__field__credit {
  margin-bottom: 0rem;
}

.form-popupInfo__field_checkbox {
  margin: 3.4rem 0rem 2.3rem 0rem;
  padding-left: 2.6rem;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: #37373F;
}

.form-popupInfo__field_checkbox a {
  color: #37373F;
}

.form-popupInfo__field_checkbox a:hover {
  text-decoration: underline;
}

.form-popupInfo__field_checkbox:hover .checkmark {
  background-color: #ccc;
}

.form-popupInfo__label {
  font-weight: 500;
  margin-bottom: 1rem;
  color: #37373F;
}

.form-popupInfo__label:after {
  content: "*";
  font-weight: 500;
  color: red;
}

.form-popupInfo__input {
  width: 100%;
  padding: 1.3rem 2rem 1.1rem 2rem;
  border: .1rem solid #C7C7C7;
  border-radius: .3rem;
}

.form-popupInfo__input_date {
  cursor: pointer;
  background: url("../img/icons/Calendar.svg") right 2.6rem center no-repeat, url("../img/icons/Rectangle 3.svg") right 2rem center no-repeat;
}

.form-popupInfo__input_terms {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

.form-popupInfo__input_terms:checked ~ .checkmark {
  background-color: #1ab9ce;
}

.form-popupInfo__input_terms:checked ~ .checkmark:after {
  display: block;
}

.form-popupInfo__btn {
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: .1rem;
  text-align: center;
  padding: 2.7rem 12.9rem;
  color: #fff;
  background-color: #1ab9ce;
  border-radius: .3rem;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.form-popupInfo__btn:hover {
  text-decoration: none;
  background-color: #ec940e;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.6rem;
  width: 1.6rem;
  background-color: #e8e8e8;
  border-radius: .2rem;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: .6rem;
  top: .4rem;
  width: .5rem;
  height: .7rem;
  border: solid white;
  border-width: 0 .2rem .2rem 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.input__group {
  border: .1rem solid #C7C7C7;
  border-radius: .3rem;
}

.input__group_card {
  color: #C7C7C7;
}

.input__group input {
  border-radius: 0rem;
  border: none;
}

.input__group input:nth-child(1) {
  border-bottom: .1rem solid #C7C7C7;
}

.input__group input:nth-child(2) {
  border-right: .1rem solid #C7C7C7;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__body {
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
}

/*css and HTML*/

/*.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hiden;
	transition: all 0.3s ease 0s;
	&__content {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 3rem 1rem;
	}
	&__body {
		background-color: #fff;
		color: #000;
		max-width: 80rem;
		padding: 3rem;
		position: relative;
		transition: all 0.3s ease 0s;
		transform: translate(0,-100%);
		opacity: 0;
	}
	&__close {
		position: absolute;
		right: 1rem;
		top: 1rem;
		font-size: 2rem;
		color: #000;
		text-decoration: none;
	}
	&__area {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.popup:target {
	opacity: 1;
	visibility: visible;
	.popup__body {
		transform: translate(0,0%);
		opacity: 1;
	}
}
*/

/*//====================================================================================================
.popup {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 100;
	padding: 30px 10px;
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	&::before {
		content: "";
		background-color: rgba(0, 0, 0, 0.9);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 0.8s ease 0s;
	}
	&.show {
		visibility: visible;
		&::before {
			opacity: 1;
		}
		.popup__body {
			transform: scale(1);
		}
	}
	&._active {
		visibility: visible;
		&::before {
			opacity: 1;
		}
		.popup__body {
			transition: all 0.3s ease 0.2s;
			transform: scale(1);
		}
	}
	// .popup__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .popup__body
	&__body {
		transform: scale(0);
		transition: all 0.3s ease 0s;
		background-color: #fff;
		color: #000;
		padding: 50px;
		width: 100%;
		max-width: 800px;
	}
	// .popup__close
	&__close {
		width: 15px;
		height: 15px;
		position: absolute;
		top: 0px;
		right: 0px;
		cursor: pointer;
		z-index: 30;
		background: url("../img/icons/close.svg") 0 0 no-repeat;
	}
}
//====================================================================================================
//====================================================================================================*/

.header {
  background: url("../img/bg.jpg") top no-repeat;
}

.top-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

.top-header__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.top-header__column:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  text-align: center;
  position: relative;
  z-index: 5;
}

.top-header__logo {
  display: inline-block;
}

.top-header__contacts {
  position: relative;
  z-index: 5;
}

.menu__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 110px 130px 180px;
  grid-template-columns: 110px 130px 180px;
}

.menu__list li {
  margin: 1px;
}

.menu__link {
  font-family: 'Play';
  min-height: 27px;
  padding: 5px 22px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: underline;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.icon-menu {
  display: none;
}

.contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-header__column {
  padding-left: 30px;
}

.contacts-header__item_icon {
  padding: 0px 37px;
  background: url("../img/icons/header/phone.png") left center no-repeat;
  border-right: 1px solid #fff;
}

.contacts-header__label {
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 5px;
}

.contacts-header__phone {
  font-size: 18px;
  font-weight: 900;
  color: #fff;
  white-space: nowrap;
}

.bottom-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 63px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-header__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 90px);
          flex: 0 1 calc(50% - 90px);
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions-header li {
  margin-right: 54px;
}

.actions-header__item {
  display: inline-block;
  line-height: 24px;
  padding-left: 37px;
  color: #999999;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.actions-header__item span {
  font-weight: 300;
  border-bottom: 1px dotted;
}

.actions-header__item:hover {
  text-decoration: none;
  color: #1ab9ce;
}

.actions-header__item_login {
  background: url("../img/icons/header/login.png") left no-repeat;
}

.actions-header__item_reg {
  background: url("../img/icons/header/reg.png") left no-repeat;
}

.actions-header__item__mail {
  background: url("../img/icons/header/mail.png") left no-repeat;
}

.actions-header__item__mail span {
  border-bottom: 1px solid;
}

.info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-header__column {
  padding-right: 54px;
}

.info-header__column:last-child {
  padding-right: 0;
}

.info-header__item_callback {
  background: url("../img/icons/header/callback.png") left center no-repeat;
  padding-left: 37px;
  display: inline-block;
  line-height: 20px;
  color: #1ab9ce;
}

.info-header__item_callback span {
  border-bottom: 1px solid;
  white-space: nowrap;
}

.info-header__item_schedule {
  background: url("../img/icons/header/schedule.png") left center no-repeat;
  padding-left: 37px;
  color: #999999;
  font-size: 12px;
  line-height: 18px;
}

.info-header__item_schedule span {
  font-weight: 900;
}

.info-header__item_cart {
  background: url("../img/icons/header/cart.png") left no-repeat;
  width: 47px;
  height: 47px;
  display: inline-block;
  position: relative;
}

.info-header__item_cart span {
  position: absolute;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  padding: 0px 11px;
  color: #fff;
  background-color: #f68038;
  border-radius: 20px;
  right: -15px;
  top: -3px;
}

select {
  cursor: pointer;
}

.footer__top {
  height: 10rem;
}

.footer__col_social {
  font-size: 2.5rem;
}

.footer__info {
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #B3B3B3;
}

.footer__bottom {
  padding: 1rem 0rem 3.1rem 0rem;
  background: #FAF9F8;
}

.fa-vk {
  color: #5476A4;
}

.fa-facebook-square {
  color: #4A68AD;
}

.fa-instagram {
  color: #37373F;
}

.social {
  margin-right: 3rem;
}

.mastercard,
.visa,
.paypal {
  min-width: 4.4rem;
  min-height: 3rem;
  margin-right: 2rem;
}

.mastercard {
  background: url("../img/icons/MC.svg") 0 0 no-repeat;
}

.visa {
  background: url("../img/icons/VISA.svg") 0 0 no-repeat;
}

.paypal {
  background: url("../img/icons/PP.svg") 0 0 no-repeat;
}

.lang {
  background: transparent;
  font-size: 1.9rem;
  color: #37373F;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 767.98px) {
  .top-header__column:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 190px;
            flex: 0 0 190px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-top: 25px;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .menu__link:hover {
    border-radius: 20px;
    background-color: #068292;
  }

  .actions-header__item_login:hover {
    background: url("../img/icons/header/login-blue.png") left no-repeat;
  }

  .actions-header__item_reg:hover {
    background: url("../img/icons/header/reg-blue.png") left no-repeat;
  }

  .actions-header__item__mail:hover {
    background: url("../img/icons/header/mail-blue.png") left no-repeat;
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1192px) {
  .menu__list {
    -ms-grid-columns: 90px 110px 160px;
    grid-template-columns: 90px 110px 160px;
  }

  .menu__link {
    padding: 5px 10px;
  }

  .contacts-header {
    padding-left: 20px;
  }

  .contacts-header__column {
    padding-left: 25px;
  }

  .contacts-header__item_icon {
    padding: 0px 25px;
  }

  .contacts-header__phone {
    font-size: 16px;
  }

  .info-header__item_callback {
    padding-left: 30px;
  }

  .info-header__item_cart span {
    right: -10px;
  }
}

@media (max-width: 1180px) {
  .actions-header li {
    margin-right: 2.54237vw;
  }

  .info-header__column {
    padding-right: 2.54237vw;
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .menu__body {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: auto;
    background-color: #fff;
    padding: 120px 20px 30px 20px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .menu__body:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 105px;
    top: 0;
    left: 0;
    background-color: #009fb3;
  }

  .menu__body._active {
    opacity: 1;
    visibility: visible;
    display: block;
  }

  .menu__list li {
    margin-bottom: 20px;
  }

  .menu__list {
    display: block;
  }

  .menu__link {
    color: #1ab9ce;
    padding: 0;
    font-size: 20px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .contacts-header__item_icon {
    padding: 0px 30px;
    border: none;
  }

  .contacts-header__label_free {
    font-size: 0;
  }

  .contacts-header__phone__free {
    font-size: 0;
  }

  .actions-header__item {
    padding: 0;
    background: none !important;
  }

  .info-header__item_callback {
    padding: 0;
    background: none !important;
  }

  .info-header__item_schedule {
    display: none;
  }

  .mastercard,
  .visa,
  .paypal {
    margin-right: 1.7rem;
  }
}

@media (max-width: 767.98px) {
  .popup__body {
    padding: 5.1rem 1rem 3.6rem 1rem;
  }

  .popupInfo__title {
    margin-bottom: 2.4rem;
  }

  .form-popupInfo__field_checkbox {
    margin: 2.3rem 0rem;
  }

  .form-popupInfo__btn {
    padding: 1.6rem 6.8rem;
    font-size: 1.4rem;
  }

  .input__group input:nth-child(2) {
    border-right: none;
    border-bottom: .1rem solid #C7C7C7;
  }

  .header {
    background: url("../img/bg.jpg") 0 -20px no-repeat;
  }

  .top-header__content {
    height: 70px;
  }

  .menu__body {
    padding: 90px 20px 30px 20px;
  }

  .menu__body:before {
    content: "";
    height: 70px;
  }

  .contacts-header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .contacts-header__column {
    padding: 0;
  }

  .footer__top .footer__container {
    border-bottom: .05rem solid #C7C7C7;
  }

  .footer__credits {
    padding: 2.7rem 1.5rem;
  }

  .footer__bottom {
    background: none;
    padding: 0rem 0rem 2rem 0rem;
  }

  .social:last-child {
    margin-right: 0rem;
  }
}

@media (max-width: 640px) {
  .top-header__logo {
    width: 100px;
  }

  .top-header__logo img {
    max-width: 100%;
  }

  .contacts-header__item_icon {
    background: none !important;
    padding: 0;
  }

  .contacts-header__item_forcart {
    margin-left: 10px;
  }

  .contacts-header__label {
    display: none;
  }

  .contacts-header__phone__free {
    display: none !important;
  }

  .contacts-header__phone {
    font-size: 0;
    background: url("../img/icons/header/phone.png") left no-repeat;
    display: inline-block;
    width: 20px;
    height: 25px;
    vertical-align: middle;
  }

  .bottom-header__content {
    display: inline-block;
    padding: 0;
  }

  .actions-header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .info-header {
    display: block;
  }

  .info-header__column {
    padding: 0;
  }

  .info-header__item_cart {
    width: 43px;
    height: 43px;
  }

  .info-header__item_cart span {
    font-size: 14px;
    line-height: 20px;
    padding: 0px 7px;
  }
}
@supports (-webkit-appearance:none){
.select__value:before{background:url("../img/icons/select.svg") center/100% no-repeat}
.checkbox__input:checked + .checkbox__text:before{background:#fff url("../img/icons/check.svg") center no-repeat}
.rating__line{background:url("../img/icons/bg_rating.svg") 0 0 no-repeat}
.rating__activeline{background:url("../img/icons/bg_rating_active.svg") 0 0 no-repeat}
#map{background:url("../img/icons/loading.gif") center/50px no-repeat}
.form-popupInfo__input_date{background:url("../img/icons/Calendar.svg") right 2.6rem center no-repeat, url("../img/icons/Rectangle 3.svg") right 2rem center no-repeat}
.header{background:url("../img/bg.webp") top no-repeat}
.contacts-header__item_icon{background:url("../img/icons/header/phone.webp") left center no-repeat}
.actions-header__item_login{background:url("../img/icons/header/login.webp") left no-repeat}
.actions-header__item_reg{background:url("../img/icons/header/reg.webp") left no-repeat}
.actions-header__item__mail{background:url("../img/icons/header/mail.webp") left no-repeat}
.info-header__item_callback{background:url("../img/icons/header/callback.webp") left center no-repeat}
.info-header__item_schedule{background:url("../img/icons/header/schedule.webp") left center no-repeat}
.info-header__item_cart{background:url("../img/icons/header/cart.webp") left no-repeat}
.mastercard{background:url("../img/icons/MC.svg") 0 0 no-repeat}
.visa{background:url("../img/icons/VISA.svg") 0 0 no-repeat}
.paypal{background:url("../img/icons/PP.svg") 0 0 no-repeat}
}

 @media (min-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 991.98px){

@supports (-webkit-appearance:none){
.actions-header__item_login:hover{background:url("../img/icons/header/login-blue.webp") left no-repeat}
.actions-header__item_reg:hover{background:url("../img/icons/header/reg-blue.webp") left no-repeat}
.actions-header__item__mail:hover{background:url("../img/icons/header/mail-blue.webp") left no-repeat}
}

}

 @media (min-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1192px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1180px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){
.header{background:url("../img/bg.webp") 0 -20px no-repeat}
}

}

 @media (max-width: 640px){

@supports (-webkit-appearance:none){
.contacts-header__phone{background:url("../img/icons/header/phone.webp") left no-repeat}
}

}
